.banner-cards{
    background-color: black;
    height: 520px;
    border-bottom: 10px solid #7C5E99;
}   

.title-cards{
    padding-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-family: 'Press Start 2P';
    font-size: 40px;
}
