
.subtitle{
    font-family: "Press Start 2P", sans-serif;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;  
    text-shadow: 4px 4px 0px #000000;
}